<!DOCTYPE html>
<html lang="en">

<head>
    <!-- METADATA -->
    <title>A Short Book on Modern Cryptographic Techniques | ASBoMCT</title>
    <link rel="shortcut icon" type="image/png" href="static/img/lock.png" />
    <meta name="author" content="Nick Young" />
    <meta name="description" content="A short book on modern cryptographic techniques" />
    <meta name="keywords"
        content="cs, computer science, computer, science, cryptography" />
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- CSS -->
    <link href="static/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />

    <!-- JS -->
    <script defer src="static/js/jquery.min.js"></script>
    <script defer src="static/js/script.js"></script>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR -->
    <nav>
        <!-- REGULAR NAV -->
        <div class="nav-holder nav-left">
            <img class="nav-logo shake" src="static/img/lock.png" draggable="false" />
            <span class="nav-link">
                <a href="#">ASBoMCT</a>
            </span>
        </div>
        <div class="nav-holder nav-right">
            <span class="nav-link">
                <!-- <a href="#">Placeholder</a> -->
            </span>
        </div>

        <!-- MOBILE NAV -->
        <div id="navholder-mobile" class="navholder-mobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">☰</a>
            <div class="navholder-content">
                <a onclick="closeNav()" href="#">ASBoMCT</a>
            </div>
        </div>

        <!-- MOBILE NAV BUTTON -->
        <span class="hamburger" onclick="openNav()">☰</span>
    </nav>